<div class="overlay__fade-full" [ngClass]="{'--showPanel': this.service.open }" >
  <div class="container__overlay-panel--left" [ngClass]="{'--third' : true}">
    <h1><em>Let's Talk!</em></h1>
    <p><img class="img__wave" src="/assets/wave.svg" width="25"/>My name is Casey Hald, and I've been doing product design, ux design & front-end web development for 10 years combined experience. Currently employed at Experian, but open to opportunities.</p>
    <ul class="list__contact-links">
      <li><a target="_blank" href="mailto:hald.casey@gmail.com">— hald.casey@gmail.com</a></li>
      <li><a target="_blank" href="http://www.twitter.com/solllve">— twitter.com/solllve</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/caseyhald/">— linkedin.com/in/caseyhald/</a></li>
    </ul>
  </div>
  <div (click)="this.close()" class="container__overlay-panel--right"></div>
</div>
