<section class="header__container">
  <div class="header__inner">
    <div class="header__constraint">
      <div class="logo">
        <img src="/assets/logo.svg" alt="Casey Hald" />
      </div>
      <div class="contact">
        <img src="/assets/contact.svg" alt="Contact Me" />
      </div>
    </div>
  </div>
</section>
<section class="hero__container">
  <div class="hero__inner">
    <h1 class="--fade-in-intro">OC based UX Engineer building<br/> products & usable interfaces through<br/> user research, rapid prototyping, and<br/> front-end development. <a href="https://open.spotify.com/user/1211930377" target="_blank"><img class="--rock-it" src="/assets/rock-on.svg" /></a></h1>
    <button class="download-resume__button" mat-raised-button color="primary">Download Resume</button>
  </div>
</section>
<section class="portfolio-thumbnails__container">
  <div class="portfolio-thumbnails__inner">
    <div (click)="viewExperianInfo()" class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>(Current) UX Engineer \\ Experian</h2>
      <div class="portfolio-thumbnail__inner --experian__bg">
        <mat-icon>work</mat-icon>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="mobile__screen" src="/assets/ir-mobile.png" />
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>Senior Product Design \\ Nasdaq</h2>
      <div class="portfolio-thumbnail__inner --nasdaq__vid">
        <video width="490" height="278" autoplay>
          <source src="/assets/IR-Insight-vid--website.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>UX Writing \\ Medium</h2>
      <div class="portfolio-thumbnail__inner --nasdaq__vid">
          <iframe width="490" height="278" src="https://www.youtube.com/embed/PPyQPIoKLNE?autoplay=1&controls=0&showinfo=0&loop=1&playlist=PPyQPIoKLNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>Engineer \\ Side Projects</h2>
      <div class="portfolio-thumbnail__inner --metronome__bg">

      </div>
    </div>


  </div>
</section>
