.header__container {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  .header__constraint {
    max-width: 1240px;
    clear: both;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
  }
  .header__inner {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 15px 0px 15px 0px;
    text-align: left;
    .logo {
      float: left;
      position: relative;
      display: inline-block;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
    }
    .contact {
      float: right;
      display: inline-block;
      cursor: pointer;
    }
  }
}
.hero__container {
  width: 100%;
  position: relative;
  margin: 0px 0px 35px 0px;
  padding: 0px;
  text-align: center;
  .hero__inner {
    margin: 0 auto;
    max-width: 1240px;
    position: relative;
    padding: 15px 0px 15px 0px;
    text-align: center;
    clear: both;
    display: inline-block;
    h1 {
      font-family: 'Abril Fatface', cursive;
      font-style: normal;
      font-weight: 100;
      font-size: 60px;
      line-height: 81px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #F44BF8;
      margin-bottom: 10px;
    }
  }
}
.portfolio-thumbnails__container {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  .portfolio-thumbnails__inner {
    margin: 0 auto;
    max-width: 1240px;
    position: relative;
    padding: 15px 0px 15px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
    h2 {
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: 100;
      font-size: 21px;
      line-height: 40px;
      text-align: center;
      color: #F9F2FA;
      margin-top: 0px;
      letter-spacing: 2px;
      &:hover {
        color: #F44BF8;
        text-decoration: line-through;
      }
    }
    .portfolio-thumbnail {
      width: calc(50% - 30px);
      padding: 15px;
      position: relative;
      .portfolio-thumbnail__inner {
        background-color: #fff;
        width: 100%;
        height: 450px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.60);
        -moz-box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.60);
        box-shadow: 0px 0px 73px 0px rgba(0,0,0,0.60);
        .locked__message {
          color: #F9F2FA;
          display: block;
        }
        &.--nasdaq__vid {
          background: rgb(44,35,203);
          background: -moz-linear-gradient(35deg, rgba(44,35,203,1) 0%, rgba(73,73,210,1) 31%, rgba(0,212,255,1) 100%);
          background: -webkit-linear-gradient(35deg, rgba(44,35,203,1) 0%, rgba(73,73,210,1) 31%, rgba(0,212,255,1) 100%);
          background: linear-gradient(35deg, rgba(44,35,203,1) 0%, rgba(73,73,210,1) 31%, rgba(0,212,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c23cb",endColorstr="#00d4ff",GradientType=1);
        }
        &.--experian__bg {
          background: url("/assets/experian-blurred.png") no-repeat top;
          background-size: cover;
          mat-icon {
            font-size: 46px;
            color: #F9F2FA;
          }
        }
        &.--metronome__bg {
          background: url("/assets/metronome-image.png") no-repeat top;
          background-size: cover;
          mat-icon {
            font-size: 46px;
            color: #F9F2FA;
          }
        }
        img {
          width: 130%;
          height: 130%;
        }

      }
    }
  }
}
.gradient__overlay {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.--fade-in-intro {
  position: relative;
  animation-name: FadeIn;
	-webkit-animation-name: FadeIn;
  animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	transition-timing-function: ease;
}

.--rock-it {
  position: relative;
  animation: RockIt 1s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	transition-timing-function: ease;
}
.mobile__screen {
  position: absolute;
  z-index: 2;
  right: 85px;
  bottom: 65px;
}



//responsive
@media only screen and (max-device-width: 1024px),
only screen and (max-device-width: 1024px),
only screen and (max-width: 1024px) {
  body {
    padding: 0 15px 15px 15px 0!important;
  }
  .header__inner {
    text-align: center!important;
    width: calc(100% - 30px)!important;
  }
  .contact {
    img {
      width: 30px!important;
      position: relative!important;
      top: 10px!important;
    }
  }
  .logo {
    float: none!important;
    img {
      width: 70px!important;
      position: relative;
      left: 15px
    }
  }
  .portfolio-thumbnail {
    width: calc(100% - 30px)!important;
    h2 {
      font-size: 21px!important;
    }
    .portfolio-thumbnail__inner {
      height: 250px!important;
    }
  }
  .hero__container {
    height: inherit!important;
    .hero__inner {
      h1 {
        font-size: 26px!important;
        line-height: 36px!important;
      }
      img.--rock-it {
        width: 50px!important;
        position: absolute;
        left: calc(50% - 25px);
        bottom: -60px;
      }
    }
  }
}
.download-resume__button {
  border-radius: 0px;
  letter-spacing: 1px;
  padding: 10px 35px 10px 35px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 4px 40px rgba(244, 75, 248, 0.2);
  margin: 45px 0 45px 0;
  color: #2C0E2D;
  span {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  }
}
.view-linkedin__button {
  border-radius: 0px;
  letter-spacing: 1px;
  padding: 10px 35px 10px 35px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  //box-shadow: 0px 4px 40px rgba(244, 75, 248, 0.2);
  margin: 45px 0 45px 0;
  color: #F44BF8;
  //span {
  //  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  //}
}
.--glow-it {
  animation: GlowIt 3s infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	transition-timing-function: ease;
}
@keyframes FadeIn {
	0% {
    opacity: 0;
    top: 25px;
	}
	100% {
    opacity: 1;
    top: 0px;
	}
}

@keyframes RockIt {
	0% {
    transform: rotate(0deg);
	}
  50% {
    transform: rotate(-25deg);
	}
	100% {
    transform: rotate(0deg);
	}
}

@keyframes GlowIt {
	0% {
    box-shadow: 0px 4px 40px rgba(244, 75, 248, 0.2);
	}
  50% {
    box-shadow: 0px 4px 40px rgba(244, 75, 248, 1);
	}
	100% {
    box-shadow: 0px 4px 40px rgba(244, 75, 248, 0.2);
	}
}
