<section class="header__container">
  <div class="header__inner">
    <div class="header__constraint">
      <div class="logo">
        <img src="/assets/logo.svg" alt="Casey Hald" />
      </div>
      <div class="contact">
        <img src="/assets/contact.svg" alt="Contact Me" />
      </div>
    </div>
  </div>
</section>
<section class="hero__container">
  <div class="hero__inner">
    <h1 class="--fade-in-intro">OC based UX Engineer building<br/> products & usable interfaces through<br/> user research, rapid prototyping, and<br/> front-end development. <a href="https://open.spotify.com/user/1211930377" target="_blank"><img class="--rock-it" src="/assets/rock-on.svg" /></a></h1>
  </div>
</section>
<section class="portfolio-thumbnails__container">
  <div class="portfolio-thumbnails__inner">
    <div class="portfolio-thumbnail">
      <h2>UX Engineer \\ Experian</h2>
      <div class="portfolio-thumbnail__inner">
        <img src="/assets/experian-dashboard.png"/>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <h2>Senior Product Design \\ Nasdaq</h2>
      <div class="portfolio-thumbnail__inner">
        test
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <h2>Design & Dev \\ Side Projects</h2>
      <div class="portfolio-thumbnail__inner">
        test
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <h2>UX Writing \\ Medium</h2>
      <div class="portfolio-thumbnail__inner">
        test
      </div>
    </div>

  </div>
</section>
