<app-contact-panel></app-contact-panel>
<section class="header__container">
  <div class="header__inner">
    <div class="header__constraint">
      <div class="logo">
        <img src="/assets/logo.svg" alt="Casey Hald" />
      </div>
      <div class="contact">
        <img (click)="openContactPanel()" src="/assets/contact.svg" alt="Contact Me" />
      </div>
    </div>
  </div>
</section>
<section class="hero__container">
  <div class="hero__inner">
    <h1 class="--fade-in-intro"><em>Howdy!</em><a href="https://open.spotify.com/user/1211930377" target="_blank"></a></h1>
    <a target="_blank" href="/assets/CaseyHaldResume.pdf"><button class="download-resume__button --glow-it" mat-raised-button color="primary"><img width="30" class="--rock-it" src="/assets/rock-on.svg" /><span>Download Resume</span></button></a>
    <a target="_blank" href="https://www.linkedin.com/in/caseyhald/"><button class="view-linkedin__button" mat-button><span>Linked In</span></button></a>
  </div>
</section>
<section class="portfolio-thumbnails__container">
  <div class="portfolio-thumbnails__inner">
    <div (click)="viewExperianInfo()" class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>(Current) UX Engineer \\ Experian</h2>
      <div class="portfolio-thumbnail__inner --experian__bg">
        <mat-icon>info</mat-icon>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="mobile__screen" src="/assets/ir-mobile.png" />
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>Senior Product Design \\ Nasdaq</h2>
      <div class="portfolio-thumbnail__inner --nasdaq__vid">
        <video width="490" height="278" autoplay>
          <source src="/assets/IR-Insight-vid--website.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2><a target="_blank" href="https://medium.com/@caseyhald">UX Writing \\ Medium</a></h2>
      <div class="portfolio-thumbnail__inner --nasdaq__vid">
          <a target="_blank" href="https://medium.com/@caseyhald">
            <iframe width="490" height="278" src="https://www.youtube.com/embed/PPyQPIoKLNE?autoplay=1&controls=0&showinfo=0&loop=1&playlist=PPyQPIoKLNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </a>
      </div>
    </div>
    <div class="portfolio-thumbnail">
      <img class="gradient__overlay" src="/assets/gradient--overlay.png" />
      <h2>Engineer \\ Side Projects</h2>
      <div class="portfolio-thumbnail__inner --metronome__bg">
      </div>
    </div>


  </div>
</section>
